[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EMP"]
	path = EMP
	url = https://github.com/banking-analytics-lab/emp
	shallow = true
	registered = true
